@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,700');

body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*overflow: none;*/
  background-image: url("imagens/background-stars.jpg");
}

footer {
  margin-top: -50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #000000;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.titulo {
  margin-top: 25px;
	margin-bottom: 10px;
	color: #f4c91d;
 	font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.imagem-titulo {
	height: 35px;
	width: 35px;
	padding-right: 10px;
}

.subtitulo {
  width: 45%;
  margin-top: 0px;
  margin-left:auto;
  margin-right:auto;
  color: rgba(244, 201, 29, 0.9);
  font-family: 'Montserrat', sans-serif;
	text-align: center;
  text-transform: uppercase;
}

.abertura-home-animada {
  display: none;
  /*display: flex;*/
  justify-content: center;
  height: 400px;
  perspective: 400px;
  color: #f4c91d;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  text-align: justify;
  letter-spacing: 6px;
  line-height: 150%;
}

.abertura-home-estatica {
  /*display: none;*/
  display: block;
  min-height: 100%;
  color: #fcfcfc;
  font-family: 'Chivo', sans-serif;
}

.div-texto-home {
  width: 45%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 50px;
  font-size: 18px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.texto-footer {
  margin-top: 10px;
  margin-bottom: 10px;
	color: rgba(244, 201, 29, 0.9);
 	font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: rgba(244, 201, 29, 0.9);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: normal;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@media screen and (max-width: 479px) { 
  .subtitulo {
    width: 75%;
  }
  .div-texto-home {
    width: 75%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) { 
  .subtitulo {
    width: 65%;
  }
  .div-texto-home {
    width: 65%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) { 
  .subtitulo {
    width: 55%;
  }
  .div-texto-home {
    width: 55%;
  }
}